.calendar-header {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-header-title {
  color: var(--f-white);
  font-size: 1.5rem;
  font-weight: 700;
}

.calendar-header-icon {
  width: 48px;
  height: 100%;
}

.calendar-header-icon img {
  width: 100%;
}

.calendar {
  column-count: 2;
  column-gap: 0.5rem;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 0.5rem; */
  text-transform: uppercase;
}

.calendar-item {
  margin-bottom: 0.3rem;
}
