.race {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  column-gap: 10px;
  padding: 0.5rem;
  width: 100%;
  border: 8px solid var(--f-red);
  border-radius: 1rem;
  /* border-right: 8px solid var(--f-red); */
  /* border-bottom: 8px solid var(--f-red); */
  /* border-top: 8px solid var(--f-red); */
  /* border-top-right-radius: 1.5rem; */
  /* border-bottom-right-radius: 1.5rem; */
}

.race-country-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  aspect-ratio: 16/9;
  border-radius: 6px;
  overflow: hidden;
}

.race .race-country-image img {
  width: 100%;
  height: 100%;
}

.race-round {
  position: absolute;
  background: var(--f-dark-blue);
  top: -10px;
  left: 0.4rem;
  padding-right: 0.3rem;
  padding-left: 0.1rem;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--f-red);
}

.times-displayed {
  align-self: center;
  font-size: 10px;
}
