.session {
  @apply grid grid-cols-4 p-1 w-full uppercase;
}

.session-date {
  @apply flex flex-col items-center rounded-2xl;
}

.session-date .day {
  @apply text-lg font-semibold;
}

.session-date .month {
  @apply text-xs font-light;
}

.session-info {
  @apply col-span-3 self-center px-4 font-titillium;
}

.session-name {
  @apply text-sm font-semibold;
}

.session-time {
  @apply text-xs text-f-light-gray;
}
