.placeholder-anim {
  animation: pulse 1s infinite;
  background-color: var(--f-gray);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--f-light-gray);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.race-info-placeholder__flag {
  width: 85px;
  height: 48px;
  border-radius: 6px;
}

.race-info-placeholder__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.race-info-placeholder__text .year-placeholder {
  width: 50px;
  height: 12px;
}

.race-info-placeholder__text .name-placeholder {
  width: 160px;
  height: 16px;
}

.race-info-placeholder__text .date-placeholder {
  width: 100px;
  height: 14px;
}

.race-info-placeholder {
  display: flex;
  gap: 6px;
}

.countdown-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  margin-inline: auto;
}

.countdown-placeholder .box {
  width: 63px;
  height: 68px;
  border-radius: 10px;
}

.sessions-table-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.sessions-table-placeholder .row {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  width: 100%;
}

.sessions-table-placeholder .col {
  width: 100%;
  height: 24px;
}

.sessions-table-placeholder .col.time {
  border-radius: 10px;
}
