@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --f-red: #e10600;
  --f-dark-blue: #15151e;
  --f-gray: #38383f;
  --f-light-gray: #7d7d81;
  --f-lighter-gray: #ededed;
  --f-white: #ffffff;
  --f-offwhite: #faf9f6;
  --f-dark-red: #6a0300;

  --f-mercedes: #00d2be;
  --f-redbull: #0600ef;
  --f-mclaren: #ff8700;
  --f-ferrari: #dc0000;
  --f-alpine: #0090ff;
  --f-aston-martin: #006f62;
  --f-alfa-romeo: #900000;
  --f-alphatauri: #0a1c2e;
  --f-williams: #37bedd;
  --f-haas: #b6babd;
}

body {
  @apply font-poppins text-white bg-f-dark-blue text-sm cursor-default;
}

.App {
  @apply w-[388px];
}

::selection {
  @apply bg-f-red text-white;
}

*::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.3s ease;
}

*::-webkit-scrollbar-track {
  background: var(--f-dark-blue);
}

*::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: var(--f-gray);
}
