@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

:root {
  --f-red: #e10600;
  --f-dark-blue: #15151e;
  --f-gray: #38383f;
  --f-light-gray: #7d7d81;
  --f-lighter-gray: #ededed;
  --f-white: #ffffff;
  --f-offwhite: #faf9f6;
  --f-dark-red: #6a0300;

  --f-mercedes: #00d2be;
  --f-redbull: #0600ef;
  --f-mclaren: #ff8700;
  --f-ferrari: #dc0000;
  --f-alpine: #0090ff;
  --f-aston-martin: #006f62;
  --f-alfa-romeo: #900000;
  --f-alphatauri: #0a1c2e;
  --f-williams: #37bedd;
  --f-haas: #b6babd;
}

body {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  color: var(--f-white);
  background-color: var(--f-dark-blue);
  font-size: 14px;
  cursor: default;
}

.App {
  width: 388px;
}

::selection {
  background-color: var(--f-red);
  color: var(--f-white);
}

.title-bg {
  background: var(--f-dark-red);
  background: linear-gradient(
    0deg,
    var(--f-dark-red) 0%,
    var(--f-red) 30%,
    var(--f-red) 70%,
    var(--f-dark-red) 100%
  );
  text-transform: uppercase;
  color: var(--f-white);
  font-size: 1.5rem;
}

*::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.3s ease;
}

*::-webkit-scrollbar-track {
  background: var(--f-dark-blue);
}

*::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: var(--f-gray);
}
