@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

*::-webkit-scrollbar {
  @apply h-1 w-1;
}

*::-webkit-scrollbar-track {
  @apply bg-f-dark-blue;
}

*::-webkit-scrollbar-thumb {
  @apply bg-f-red rounded-md;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --f-mercedes: #00d2be;
  --f-redbull: #0600ef;
  --f-mclaren: #ff8700;
  --f-ferrari: #dc0000;
  --f-alpine: #0090ff;
  --f-aston-martin: #006f62;
  --f-alfa-romeo: #900000;
  --f-alphatauri: #0a1c2e;
  --f-williams: #37bedd;
  --f-haas: #b6babd;
}

body {
  @apply font-poppins text-white bg-f-dark-blue text-sm cursor-default overflow-y-hidden;
}

.times-displayed {
  @apply self-center text-[10px] mb-2;
}

::selection {
  @apply bg-f-red text-white;
}

.swiper {
  @apply w-full h-full;
}

.swiper-slide {
  @apply flex justify-center items-center;
}
